@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Hospital</h1>
    <h6 class="display-8">Thank you for choosing our hospital for your healthcare needs. </h6>
    <h6 class="display-8">Here, we strive to provide the highest quailty medical care to our patients.  </h6>
    <h6 class="display-8">Learn more about our services and specialties: </h6>
    
    <table class="table table-bordered">
        <tbody>
            <tr >
                <th scope="row">Internal Medicine</th>
            </tr>
            <tr>
                <th scope="row">Pediatrics</th>
            </tr>
            <tr>
                <th scope="row">Surgery</th>
            </tr>
        </tbody>
    </table>
    <h6 class="display-8">if you have any questions or needs assistance , please don't hesitate to contact us. </h6>

</div>
